<!-- include head.ejs-->
<%- include('./include/head.ejs') %>
    <!--head included-->

    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="/img/logo_app/logoApp.png" height="110" class='mb-4'>
                            <h3>S'authentifier</h3>
                            <p>Veuillez completer le formulaire pour la création de votre compte .</p>
                        </div>
                        <!-- include message.ejs-->
                        <%- include('../include/message.ejs') %>
                            <!--message included-->
                            <form action="/register" method="POST">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Nom</label>
                                            <input type="text" id="first-name-column" class="form-control" name="name" value="<%= typeof name != 'undefined' ? name: ''%>">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Email</label>
                                            <input type="email" id="email-id-column" class="form-control" name="email" value="<%= typeof email != 'undefined' ? email: ''%>">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group position-relative has-icon-left">
                                            <div class="clearfix">
                                                <label for="password">Mot de passe</label>
                                            </div>
                                            <div class="position-relative">
                                                <input type="password" class="form-control" name="password" value="<%= typeof password != 'undefined' ? password: ''%>">
                                                <div class="form-control-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group position-relative has-icon-left">
                                            <div class="clearfix">
                                                <label for="password">Confirmer votre mot de passe</label>
                                            </div>
                                            <div class="position-relative">
                                                <input type="password" class="form-control" name="password2" value="<%= typeof password2 != 'undefined' ? password2: ''%>">
                                                <div class="form-control-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </diV>

                                <a href="/login">J'ai dejà un compte? Login</a>
                                <div class="clearfix">
                                    <button class="btn btn-primary float-right">Créer un compte</button>
                                </div>

                            </form>
                            <div class="divider">
                                <div class="divider-text">--000--</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- include foot.ejs-->
    <%- include('./include/footer.ejs') %>
        <!--foot included-->