<!-- Include _headPage-->
<%- include('../include/_headPage.ejs') %>
    <!-- _headPage included-->

    <div class="main-content container-fluid">
        <div class="page-title">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Acceuil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">medecin</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-12">
                <h3>
                    Médecin
                </h3>
                <p class="text-subtitle text-muted">
                    <%= description %>
                </p>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header  d-flex justify-content-between align-items-center">
                    <h4 class="card-title">
                        <%= title%>
                    </h4>
                    <div class="d-flex ">
                        <a href="/new-medecin" class="btn icon icon-left btn-success">+</a>
                    </div>
                </div>
                <div class="card-body">
                    <table class='table' id="table1">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Numero</th>
                                <th>Nom</th>
                                <th>Prénoms</th>
                                <th>Taux Journalier (Ar)</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (medecins.length > 0) { %>
                                <% medecins.forEach(medecin => { %>

                                    <tr>
                                        <td>
                                            <div class="avatar bg-warning ">
                                                <img src="/img/image/<%=medecin.imageUrl%>" alt="" srcset="">
                                            </div>
                                        </td>
                                        <td>
                                            <%= medecin.numMedecin %>
                                        </td>
                                        <td>
                                            <%= medecin.nom %>
                                        </td>
                                        <td>
                                            <%= medecin.prenoms  %>
                                        </td>
                                        <td>
                                            <%= medecin.tj %>
                                        </td>

                                        <td>
                                            <a href="/update-medecin/<%=medecin._id%>" class="btn icon icon-left btn-primary"><i data-feather="edit"></i></a>
                                            <a href="/medecin/<%=medecin._id%>" class="btn icon icon-left btn-info"><i data-feather="info"></i></a>
                                            <a href="/delete-medecin/<%= medecin.numMedecin %>" class="btn icon icon-left btn-warning"><i data-feather="alert-triangle"></i></a>

                                        </td>
                                    </tr>
                                    <% }) %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
            </div>

        </section>

    </div>
    <!-- Include _footPage-->
    <%- include('../include/_footPage.ejs') %>
        <!-- _footPage included-->